/* Background was made to resemble the Russian Flag */
body{
    margin: 0;
    padding: 0;
    height: 100vh; 
    background: linear-gradient(black, white) 0% 0% / 100% 33.33% no-repeat,
                linear-gradient(red, red) 0% 33.33% / 100% 33.33% no-repeat,
                linear-gradient(blue, blue) 0% 66.66% / 100% 33.33% no-repeat,
                linear-gradient(white, black) 0% 99.99% / 100% 33.33% no-repeat;
}

.banner {
    background-color: #a2d9ce; 
    text-align: center;
    color: #fff; 
    font-size: 24px;
    font-weight: bold;
    border-top: 6px solid #87bba2;
    border-left: 6px solid #87bba2;
    border-right: 6px solid #87bba2;
    border-bottom: 6px solid #87bba2; 
}

#nato-description-card{
    
    font-family: sans-serif;
    font-size: large;
    -webkit-text-stroke: 0.5px black;

    background-color: burlywood;
    border: 2px;
    border-style: dashed;
    border-color: black;
    text-align: center;
    position: relative;
    left: 50%;

}

#nato-description-middle{
    background: wheat;
    border: auto;
    border-style: dashed;
    border-color: black;
}

#nato-translator-card {
    text-align: center;
    font-family: sans-serif;
    font-size: large;
    -webkit-text-stroke: 0.5px black;
    
    background: lightgrey;
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
#outputBox {
    width: 100%; /* Set the outputBox width to 100% */
    min-height: 100px; /* Set a minimum height to allow for multiple lines */
    overflow-wrap: break-word; /* Allow text to break at any character */
}