body{
    background-color: burlywood;
}

.banner {
    background-color: #a2d9ce; 
    text-align: center;
    color: #fff; 
    font-size: 24px;
    font-weight: bold;
    border-top: 6px solid #87bba2;
    border-left: 6px solid #87bba2;
    border-right: 6px solid #87bba2;
    border-bottom: 6px solid #87bba2; 
}

.foot-banner {
    background-color: #a2d9ce; 
    text-align: center;
    color: #fff; 
    font-size: 24px;
    font-weight: bold;
    border-top: 6px solid #87bba2;
    border-left: 6px solid #87bba2;
    border-right: 6px solid #87bba2;
    border-bottom: 6px solid #87bba2; 
}


/* CARD 1 */
#info-card{

    position: relative;
    top: 10em;
    margin-bottom: 40%;
    margin-left: 50%;
    

    border: auto;
    border-style: dashed;
    border-color: black;
    background-color: bisque;
}

h1{
    text-align: center;
}

#infoBody{
    border: auto;
    border-style: dashed;
    border-color: black;
    text-align: center;
}

#infoFooter{
    border: 2px;
    border-style: dashed;
    border-color: black;
    text-align: center;
}

/* END CARD 1 */

