body{
    background-color: burlywood;
}

.banner {
    background-color: #a2d9ce; 
    text-align: center;
    color: #fff; 
    font-size: 24px;
    font-weight: bold;
    border-top: 6px solid #87bba2;
    border-left: 6px solid #87bba2;
    border-right: 6px solid #87bba2;
    border-bottom: 6px solid #87bba2; 
}

footer {
    background-color: #a2d9ce;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border-top: 6px solid #87bba2;
    border-left: 6px solid #87bba2;
    border-right: 6px solid #87bba2;
    border-bottom: 6px solid #87bba2;
}

#info-card{
    border: 2px ;
    border-style: dashed;
    border-color: black;
    background-color: bisque;
    text-align: center;
    background: lightcoral;
}

h1{
    font-family: Cambria;
    border: auto;
    border-style: dashed;
    border-color: black;
    background: #87bba2;
}

#infoBody{
    border: auto;
    border-style: dashed;
    border-color: black;
    background: lightslategray;
    color: whitesmoke;
    font-family: Impact;
    font-size: larger;
}

#infoFooter{
    border: 2px;
    border-style: dashed;
    border-color: black;
    background: goldenrod;
}

